@import "../../../../design-tokens/_scss-variables.scss";
@import "../../../../design-tokens/css-variables.scss";

.home-body-content-container {
    display: flex;
    flex-direction: column;
}
.home-body-content-text {
    font-size: $p-font-size;
    text-align: center;
    align-self: center;
    padding: 4rem 20rem;
}

.home-body-content-img {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-evenly;
    img{
        width: 25rem;
        transition: 1s ease;
       
    }
}

@media screen and (max-width: 600px) {
    .home-body-content-text {
        font-size: $p-font-size-mobile;
    }
}