$h1-title-size: 3rem;

$mobile-h2-size: 2rem;
$mobile-h3-size: 1.5rem;

$h2-title-size: 3rem;

$color-white: #fff;

$body-margin: 0 10rem;
$section-margin-top: 8rem;
$body-padding: 0 5rem;

$body-margin-mobile: 0 3rem;
$body-padding-mobile: 0 1rem;

$p-font-size: 2rem;
$p-font-size-mobile: 1.5rem;

$nav-font-size-mobile: 2.5rem;

$margin-between-sections: 10rem;

$navbar-height: 8rem;