@import "../../../design-tokens/_scss-variables.scss";
@import "../../../design-tokens/css-variables.scss";

.btn {
    padding: 0.8rem 2rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #fff;
    color: var(--color-secondary);
    transition: 250ms;
    border: solid 1px var(--color-secondary);
}

.btn--primary {
    background-color: var(--btn-primary);
}

.btn--secondary {
    background-color: var(--btn-secondary);


}

.btn--outline {
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border-radius: 0.4rem;
    border: 1.5px solid #fff;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 0.8rem 2rem;
    border-radius: 0.4rem;
    font-size: 1.5rem;
    color: #fff;
    width: fit-content;
}

.btn--large {
    padding: 1.2rem 2.6rem;
    border-radius: 0.4rem;
    font-size: 2rem;
    color: #fff;
    width: fit-content;
}

@media screen and (max-width: 600px) {
    .btn--medium {
        font-size: 1rem;
    }
}