@import "../../../../design-tokens/scss-variables";
@import "../../../../design-tokens/css-variables.scss";

.item-list {
    display: grid;
    justify-items: center;
    justify-content: center;
    align-items: center;
    align-self: center;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-auto-rows: 38rem;
}