@import "../../../../design-tokens/_scss-variables.scss";
@import "../../../../design-tokens/css-variables.scss";

.carousel-container{
    position: relative;
    
}
.carousel {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.carousel-image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.right-arrow {
    position: absolute;
    top: 50%;
    right: 2%;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    position: absolute;
    top: 50%;
    left: 2%;
    font-size: 3rem;
    color: #fff;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slide {
    opacity: 0;
    position: relative;
    transition-property: opacity;
    transition-duration: 1s ease;
}

.slide.active {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 1s;
    transform:  scale(1);
    display: flex;
    align-items: center;
    background-size: cover;
    width: 100%;
    padding-top: 50%;
    
}

.header-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 8rem;
    padding-right: 10rem;
    top: 40%;
}

.header-sm {
    color: $color-white;
    font-size: 3rem;
}

.header-lg {
    color: $color-white;
    font-size: 5rem;
}

.shop-btn {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 960px) {
    .carousel {
        height: auto;
    }
    .header-container {
        top: 30%;
    }
    

}

@media screen and (max-width: 768px) {
    .header-container {
        margin-left: 6rem;
        padding-right: 5rem;
        top: 30%;
    }
    .header-sm {
        font-size: 2rem;
    }
    
    .header-lg {
        font-size: 4rem;
    }
    
}

@media screen and (max-width: 600px) {
    .header-sm {
        font-size: $mobile-h3-size;
    }
    
    .header-lg {
        font-size: $mobile-h2-size;
    }
    .header-container {
        margin-left: 6rem;
        padding-right: 2rem;
        padding-top: 0;
        top: 35%
    }
    .slide.active {
        padding-top: 55%;
    }
}