@import "../../../design-tokens/_scss-variables.scss";
@import "../../../design-tokens/css-variables.scss";

.categories-grid {
    width: 100%;
    display: grid;
    grid-template-areas: 
    "cat1 cat2 cat3"
    "cat1 cat2 cat4"
    "cat1 cat7 cat6"
    "cat1 cat5 cat6";
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 10px;
    font-size: 1.6rem;
}

.category-info {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    z-index: 2;
    width: 100%;
}

@for $i from 1 through 7 {
    .cat#{$i} {
        grid-area: cat#{$i};
        background-color: #f6f6f6;
        position: relative;
        display: flex;
        p {
            font-size: 1.5em;
            z-index: 3;
        }
        img {
            position: absolute;
            z-index: 1;
        }
        .category-hover-wrapper {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            padding: 1rem;
            z-index: 2;
            .category-hover {
                background-color: #fff;
                opacity: 0.8;
                animation-name: shrink;
                animation-duration: 0.7s;
            }
        }        
        .category-btn-wrapper {
            width: 100%;
            height: 0;
            position: relative;
            animation: btn-container-disappear 0.7s;
            button{
                opacity: 0;
                top: 0;
                color: #fff;
                background-color: var(--color-secondary);
                position: absolute;
                animation: btn-disappear 0.7s;
                &:hover {
                    background-color: #fff;
                    color: var(--color-secondary);
                    transition: all ease 0.3s;
                }
            } 
        }
        &:hover .category-hover {
            width: 100%;
            height: 100%;
            animation-name: expand;
            animation-duration: 0.7s;
        }
        &:hover .category-btn-wrapper {
            height: 50px;
            animation: btn-container-appear 0.7s;
            animation-fill-mode: forwards;
        }
        &:hover button {
            opacity: 1;
            animation: btn-appear 0.7s;
            animation-fill-mode: forwards;
        }
    }
}

.cat1 {
    height: 100%;
    img{
        width: 400px;
        top: 30px;
        left: -17px;
    }
    .category-info {
        align-self: flex-end;
    }
}

.cat2 {
    height: 250px;
   img {
        width: 230px;
        top: 30px;
        left: 150px;
   }
   .category-info {
    align-self: flex-end;
   }
}

.cat3 {
    img {
        width: 120px;
        top: -7px;
        left: 200px;
    }
    .category-info {
        align-self: flex-end;
    }
}

.cat4 {
    justify-content: flex-end;
    .category-info {
        align-self: flex-end;
        p {
            text-align: end;
        }
        button {
            right: 0;
        }
    }
    img {
        width: 135px;
        left: 15px;
        top: -15px;
    }
}

.cat5 {
    .category-info {
        align-self: flex-end;
    }
    img {
        width: 180px;
        top: -42px;
        left: 180px;
    }
}

.cat6 {
    .category-info {
        align-self: flex-end;
    }
    img {
        width: 230px;
        top: 10px;
        left: 145px;
    }
}

.cat7 {
    justify-content: flex-end;
    .category-info {
        margin: 2rem;
        align-self: flex-end;
        text-align: end;
        button {
            right: 0;
        }
    }
    img {
        width: 150px;
        position: absolute;
        top: -15px;
        left: 10px;
    }
  
}

@keyframes expand {
    0% {width: 0%; height: 0%;}
    100% {width: 100%; height: 100%;}
}

@keyframes shrink {
    0% {width: 100%; height: 100%;}
    100% {width: 0; height: 0;}
}

@keyframes btn-container-appear {
    0% {height: 0;}
    100% {height: 30px;}
}
@keyframes btn-container-disappear {
    0% {height: 30px;}
    100% {height: 0px;}
}

@keyframes btn-appear {
    0% {opacity: 0;}
    30%{opacity: 0;}
    100% {opacity: 1;}
}

@keyframes btn-disappear {
    0% {opacity: 1;}
    45% {opacity: 0;}
    100% {opacity: 0;}
}

