@import "../../design-tokens/_scss-variables.scss";
@import "../../design-tokens/css-variables.scss";

.item-count {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding: 0 5rem;
}

.counter-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.counter-btn{
    background: transparent;
    border: none;
    cursor: pointer;
    width: 100%;
    &:focus {
        outline: none;
    }
    p {
        font-size: 2rem;
    }
}

.addToCart-btn {
    align-self: center;
    width: 100%;
    margin-top: 1rem;
}